Django==5.0.7
gunicorn==23.0.0
whitenoise==6.9.0

# Database
mysqlclient==2.2.4
Pillow==10.4.0
# Env
python-dotenv==1.0.1

# Forms / UI
django-crispy-forms==2.3
crispy-bootstrap4==2024.1

# Auth (if using)
django-allauth==65.11.1

# API (optional)
djangorestframework==3.15.2

# Payment (if using)
razorpay==1.4.2

# PDF
reportlab==4.2.5
